# Ignore all data files and folders

# Optional: ignore checkpointed models/logs (if you save them later)
results/
logs/

# Python environment files
*.pyc
__pycache__/
.env
.venv
*.egg-info/

# Jupyter notebook checkpoints
.ipynb_checkpoints/
